<h1>Dashboard#view</h1>
<p>Find me in app/views/dashboard/view.html.erb</p>
<% test = "yeehaw"
contracts = Contract.all%>

<a href="/contract/create">Make new promises</a>
<br/>
Your promises

<div>

  <% contracts = Contract.where(ownerUID: @logged_user.uid)
  contracts.each do |contract| %>
    <div style="border: 1px solid black">
      <div display="inline-block"><%= contract.task %></div>
      owed to
      <%= contract.receiverUID %>
      on
      <%= contract.expiration %>
      <div display="inline-block"><%= contract.content %></div>
      <div>contract id: <%= contract.id %></div>
      <%= form_with url: contract_complete_path, local: true do |form| %>

        <%= form.label :passphrase, '' %>
        <%= form.text_field :passphrase %>
        <input type="hidden" name="contractID" value="<%= contract.id %>"/>
        <%= form.submit %>
      <% end %>
    </div>
  <% end %>
</div>

Promises owed to you
<% contracts = Contract.where(receiverUID: @logged_user.uid)
contracts.each do |contract| %>
  <div style="border: 1px solid black">
    <div display="inline-block"><%= contract.task %></div>
    owed to
    <%= contract.receiverUID %>
    on
    <%= contract.expiration %>
    <div display="inline-block"><%= contract.content %></div>
    <div>contract id: <%= contract.id %></div>
    <%= form_with url: contract_view_path, local: true do |form| %>

      <%= form.label :passphrase, '' %>
      <%= form.text_field :passphrase %>
      <input type="hidden" name="contractID" value="<%= contract.id %>"/>
      <%= form.submit %>
    <% end %>
  </div>
<% end %>
