<div class="container">
  <div class="jumbotron">
    <h1>Dashboard</h1>

    Welcome <%= @logged_user.username %>

    <%= form_with url: blackmail_logout_path, local: true do |form| %>
    <%= form.submit "logout", class: "btn btn-danger"%>
    <% end %>

    <a href="/contract/create">Make new promises</a>
    <br/>
    <hr/>
    Your promises

    <div>

      <% contracts = Contract.where(ownerUID: @logged_user.uid)
      contracts.each do |contract| %>
      <div class="container">
        <div class="row" style="border:2px solid; border-radius:6px;">
          <div class="col" style=" margin:10px">
            <div class="row">
              <h2><%= contract.task %></h2>
            </div>
            <div class="row">
              Owed to
              <%= contract.receiverUID %>
              on
              <%= Time.at(contract.expiration) %>
            </div>
          </div>
          <div class="col-2" >
            <div id="carouselControls" class="carousel slide "data-ride="carousel" data-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a class="btn btn-success" href="#carouselControls" data-slide="next" style="height: 100px" role="button"/>
                </div>
                <div class="carousel-item">
                  <%= form_with url: contract_complete_path, local: true do |form| %>
                  <input type="hidden" name="contractID" value="<%= contract.id %>"/>
                  <%= form.submit "Task Complete", class: "btn btn-success", style: "height: 100px; padding 0px; margin 0px"%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <hr/>
    Promises owed to you
    <% contracts = Contract.where(receiverUID: @logged_user.username)
    contracts.each do |contract| %>
    <div class="container">
      <div class="row" style="border:2px solid; border-radius:6px; padding:12px">
        <div class="col">
          <div class="row">
            <h2><%= contract.task %></h2>
          </div>
          <div class="row">
            owed by
            <%= contract.ownerUID %>
            on
            <%= Time.at(contract.expiration) %>
          </div>
          <div class="row>"
            <%= form_with url: contract_view_path, local: true do |form| %>
            <%= form.label :passphrase, '' %>
            <%= form.text_field :passphrase %>
            <input type="hidden" name="contractID" value="<%= contract.id %>"/>
            <%
            if Time.current.to_i < contract.expiration
              disable = true
            end %>
            <%= form.submit "unlock", class: "btn btn-success", disabled: disable%>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
