<h1>Dashboard#view</h1>
<p>Find me in app/views/dashboard/view.html.erb</p>
<% test = "yeehaw"
contracts = Contract.all%>
<p><%= test %> </p>
<div>

  <% contracts.each do |contract| %>
    <div>
      <div display="inline-block"><%= contract.task %></div>
      <div display="inline-block"><%= contract.content %></div>
      <div>contract id: <%= contract.id %></div>
      <%= form_with url: contract_view_path, local: true do |form| %>

        <%= form.label :passphrase, '' %>
        <%= form.text_field :passphrase %>
        <%= form.submit %>
      <% end %>
    </div>
  <% end %>
</div>
